<h2><%= @activity.date %></h2>
<h4><%= @activity.student.name %></h4>
<p><%= @activity.breakfast%></p>
<p><%= @activity.morning_snacks %></p>
<p><%= @activity.lunch %></p>
<p><%= @activity.afternoon_snacks %></p>
<p><%= @activity.sleep %></p>
<p><%= @activity.nappies %></p>
<p><%= @activity.comments %></p>

<% if current_user.nursery_staff %>

  <form method="post" action="/activities/<%= @activity.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" id="submit" value="Delete Activity">
  </form>

  <p><a href="/activities/<%= @activity.id %>/edit">Edit Activity </a></p>
<% end %>
