<h2><%= @activity.date %></h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Student name: <%= @activity.student.name %></li>
  <li class="list-group-item">Student parent: <%= @activity.student.user.username %></li>
  <li class="list-group-item">Breakfast: <%= @activity.breakfast%></li>
  <li class="list-group-item">Morning snacks: <%= @activity.morning_snacks %></li>
  <li class="list-group-item">Lunch: <%= @activity.lunch %></li>
  <li class="list-group-item">Afternoon snacks: <%= @activity.afternoon_snacks %></li>
  <li class="list-group-item">Sleep: <%= @activity.sleep %></li>
  <li class="list-group-item">Nappies: <%= @activity.nappies %></li>
  <li class="list-group-item">Comments: <%= @activity.comments %></li>
  <li class="list-group-item">Activity created by: <%= @activity.user.username %></li>
</ul>

<% if current_user == @activity.user %>
  <form action="/activities/<%= @activity.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <h1></h1>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" id="submit" class="btn btn-primary">Delete Activity</button>
       <a class="btn btn-primary" href="/activities/<%= @activity.id %>/edit" role="button">Edit Activity</a>
    </div>
  </div>

<% end %>
